<h2><%= @recipe.title %></h2>
<h3>Ingredients</h3>
<ul>
<% @recipe.ingredients.each_index do |i| %>
  <li>
  <%= @recipe.ingredients[i] %>
  </li>
<% end %>
</ul>

<h3>Directions</h3>

<ul>
<% @recipe.directions.each_index do |i| %>
<li>
  <%= @recipe.directions[i] %>
</li>
<% end %>  
</ul>

<% unless @recipe.cooking_time == nil %>
<h3>Cooking Time</h3>
<ul>
  <li><%= @recipe.cooking_time %></li>
<ul>  
<% end %>
<h3>From the Kitchen of:</h3>
<ul>
<li><%= @recipe.source %></li>
</ul>
<h3>Category</h3>
<ul>
  <li><%= @recipe.category %></li>
</ul>
<%= @recipe.image %>
